*{
	margin: 0;
	padding: 0;
}
.content {
	position: absolute;
    bottom: 0;
 /*   background: rgba(0, 0, 0, 0.5);*/
    color: black;
    width: 24%;
    padding: 39px;
    margin: 0 0 5%;
}
header h1{
    font-family: 'Archivo Black', sans-serif;
/*font-family: 'Indie Flower', cursive;*/
font-weight: bolder;
}
#beg{
	
text-align: right;
/*transform: rotate(-90deg);*/
vertical-align: ;
}
.page{
	display: flex;	
	flex-direction: column;
}
.bezhead{
	font-family: 'Indie Flower', cursive;
}
section{
	flex: 70%;
	padding: 20px;
}
nav{
	background-color: white;
	overflow: hidden;
}
nav a{
	display: block;
	float: left;
	color: black;
	padding: 22px 10px;
	text-decoration: none;
	text-align: center;
	width: 22%;
	margin: 0 0.1%;
}
nav a:hover{
  	background-color: #ddd;
}
section{
	flex: 70%;
	background:#C6A3F7;
}
.foto-new{
	background-color: #FAF3A5;
	height: 300px;
	width: auto;
	margin: 2%;
	padding: 20px;
}
article{
	padding: 20px 0;
}
h5{
	padding: 1%;
}
footer{
	height: 100px;
	width: auto;
	background: #EEB6F9;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lobster', cursive;
}
footer img{
	height: 40px;
	width: auto;
}
#myVideo {
 /*   position: fixed;*/
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/*.vse{
 background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}
nav, .page, footer{
margin: 0 5%;
}*/
